<h2 class ="text-center mb-5">サービス概要</h2>
<ul class ="mt-5">
<li>Swift Englishは、英語瞬発力を鍛えるサービスです。</li>
<li>日本語と英語のセンテンスを入力すると、アイテム一覧ページにリストが出来ます。</li>
<li>LikeしたアイテムはTestページにてテストができます。このサービスを活用して、英語瞬発力をバリバリ鍛えていきましょう！</li>
</ul>